<div id="container" class="h-full min-h-screen font-mono max-md:flex max-md:flex-col bg-[#EFFFC1]">
  <main class="h-full flex justify-center">
    <section id="hero" class="flex flex-col items-start justify-center p-4 max-md:block max-md:pt-[10%]"></section>
  </main>
</div>
